<!-- Order by:
<select ng-model="booking.orderOption">
    <option value="name">name</option>
    <option value="seat">seat</option>
</select> -->
<div id="loginbox" style="padding-top:50px;" ng-init="AdminCtrl.getFunds()">
<input type="text" ng-model="booking.search.name" placeholder="Search fund">
<!-- Table for editing booking details -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>AMOUNT</th>
            <th>REASON</th>
            <th>STATUS</th>
            <th>ACCEPT</th>
            <th>REJECT</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="fund in AdminCtrl.funds | orderBy:fund.status" >
            <td>
                <span ng-bind="fund.name"></span>
            </td>
            <td>
                <span ng-bind="fund.amount"></span>
            </td>
            <td>
                <span ng-bind="fund.reason"></span>
            </td>
            <td>
                <span ng-bind="fund.status"></span>
            </td>
            <td>
              <a class="btn btn-success">
                <i ng-click="AdminCtrl.acceptFund(fund)" class="glyphicon glyphicon-saved"></i>
              </a>
            </td>
            <td>
              <a class="btn btn-danger">
                <i ng-click="AdminCtrl.rejectFund(fund)" class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
