<div id="loginbox" style="padding-top:50px;" ng-init="FundCtrl.getFundByUserId()" >
<!-- <input type="text" ng-model="booking.search.name" placeholder="Search fund"> -->
<button type="submit" ui-sref="home.form" class="btn btn-primary">Request Fund</button>
<!-- Table for editing booking details -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>AMOUNT</th>
            <th>REASON</th>
            <th>STATUS</th>
            <th>DATE & TIME</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="fund in FundCtrl.funds | orderBy:FundCtrl.status" >
            <td>
                <span ng-bind="fund.name"></span>
            </td>
            <td>
                <span ng-bind="fund.amount"></span>
            </td>
            <td>
                <span ng-bind="fund.reason"></span>
            </td>
            <td>
                <span ng-bind="fund.status"></span>
            </td>
            <td>
              <span ng-bind="fund.date"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
