 <div class="menu" style="position:fixed">
    <div class="container-fluid">
		<div class="navbar-header">
			<a href="#">WELFARE I2I</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="showNav">
           <a ui-sref="home.signup">
             <span class="glyphicon glyphicon-user"></span>
              Sign Up
            </a>
          </li>
				<li ng-hide="showNav">
          <a ui-sref="home.login">
            <span class="glyphicon glyphicon-log-in"></span>
             Login
           </a>
         </li>
         <li ng-show="showNav">
           <a href="">
             {{userName}}
           </a>
         </li>
        <li ng-show="showNav">
          <a href="" ng-click="LoginCtrl.logoutUser()">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </a>
        </li>
			</ul>
		</div>
	</div>
</div>
<div ui-view></div>
